/* Reset and basic styling */
body {
    background-color: #b13c12; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Container and column layout */
.container {
    background-color: darkgreen;
    display: flex;
    height: 150vh;
    overflow: hidden;
}

.column {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

.fixed {
    background-color: darkgreen;
    width: 30%;
}

.scrollable {
    background-color: #eea891;
    flex: 1;
}

/* Project styling */
.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Scroll to top button */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
}

/* Listing Cards styling */
.page-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-list li {
    margin-bottom: 10px;
}

.page-list li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.page-list li a:hover {
    color: #007bff;
}

.page-list li a.active {
    font-weight: bold;
}

/*Table of Contents*/
#table-of-contents {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    width: 250px;
    float: right;
}

#table-of-contents h2 {
    font-size: 18px;
}

#table-of-contents ul {
    list-style-type: none;
    padding: 0;
}

#table-of-contents li {
    margin-bottom: 5px;
}

#table-of-contents a {
    text-decoration: none;
    color: #333;
}
